@font-face {
font-family: 'good_time';
src: url(fonts/Good_time.otf);
}



p.heading{
    font-family: "good_time"; 
    text-align: center;
    font-size: 50px;
}


p.good_time{
    font-family: "good_time";
    font-size: 30px;
    margin-top: 1%;
    margin-left: 10%;
}



p.Calibri{
    font-family: 'Calibri';
    src: url(fonts/Calibri.ttf);
    font-size: 20px;


}

 .greentext {
     color: green; /* Красный цвет выделения */
   }
